
{{#bs-modal open=archiveModalOpen
  onHide=(action (mut archiveModalOpen) false)
  onSubmit=(action "archiveActiveMeeting" model) as |modal|}}
  {{#modal.body}}
    Are you sure you want to archive this meeting?
  {{/modal.body}}

  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close) type="danger"}}
      Cancel
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="success"}}
      Archive
    {{/bs-button}}
   {{/modal.footer}}
{{/bs-modal}}

<div class="row">
  <div class="col">
    <h3>Team: {{model.name}}</h3>

    {{#bs-button class="mb-1"
      onClick=(action (mut archiveModalOpen) true) type="primary"}}
      Archive this Meeting
    {{/bs-button}}
  </div>
</div>

<div class="whiteboard row">
  {{
    whiteboard-column
    createWhiteboardItem=(action "createWhiteboardItem")
    deleteWhiteboardItem=(action "deleteWhiteboardItem")
    emoji=":)"
    emotion="happy"
    team=model
    placeholder="I'm glad that..."
  }}

  {{
    whiteboard-column
    createWhiteboardItem=(action "createWhiteboardItem")
    deleteWhiteboardItem=(action "deleteWhiteboardItem")
    emoji=":|"
    emotion="meh"
    team=model
    placeholder="I'm wondering about..."
  }}

  {{
    whiteboard-column
    createWhiteboardItem=(action "createWhiteboardItem")
    deleteWhiteboardItem=(action "deleteWhiteboardItem")
    emoji=":("
    emotion="sad"
    team=model
    placeholder="It wasn't so great that..."
  }}
</div>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-6 col-lg-4 p-0">
    <ul class="list-inline">
      {{#each model.actionItems as |actionItem| }}
        {{ action-item actionItem=actionItem }}
      {{/each}}
    </ul>

    <form {{ action 'createActionItem' model on="submit"}} class="card m-2">
      {{
        input
        class="p-1"
        placeholder="Add an action item"
        type="text"
        value=newActionItem
      }}
    </form>
  </div>
</div>